{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="header">
        <h1 class="sticky-header">BLOCO {{ bloco.numero }}</h1>
    </div>

    <div class="action-buttons">
        <div class="back-button sticky-buttons">
            <a href="{% url 'blocos_lista' %}"><i class="fa-solid fa-left-long"></i>
                Voltar para a lista de blocos
            </a>
        </div>

        <div class="export-button sticky-buttons">
            <a href="{% url 'gerar_excel' bloco.id %}" class="btn btn-primary"><i class="fa-solid fa-file-excel"></i>
                Exportar para Excel
            </a>
        </div>
    </div>
    
    <div class="apartamentos-residentes-container">
        <table class="apartamentos-residentes">
            <thead>
                <tr>
                    <th>APARTAMENTO</th>
                    <th>RESIDENTE(S)</th>
                    <th>CPF/CNPJ</th>
                    <th>TELEFONE</th>
                    <th>E-MAIL</th>
                    <th>DATA DE INÍCIO</th>
                    <th>DATA DE TÉRMINO</th>
                    <th>PRORROGAÇÃO</th>
                    {% if user.is_superuser %}
                        <th>NÚMERO DE CADASTRO</th> 
                        <th>VALOR DO ALUGUEL</th>
                        <th>VALOR DO CONDOMÍNIO</th>
                        <th>OUTROS</th>
                        <th>GÁS</th>
                        <th>TOTAL DO BOLETO</th>
                        <th>DATA DE VENCIMENTO</th>
                        <th>UNIDADE CONSUMIDORA</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for apartamento in apartamentos %}
                    <tr>
                        <td class="numero-apartamento">{{ apartamento.numero }}</td>
                        <td >
                            {% for residente in residentes %}
                                {% if residente.apartamento == apartamento %}
                                    <div class="residente-info">
                                        <span>{{ residente.nome }}</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for residente in residentes %}
                                {% if residente.apartamento == apartamento %}
                                    <div class="residente-info">
                                        <span>{{ residente.cpf_cnpj }}</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for residente in residentes %}
                                {% if residente.apartamento == apartamento %}
                                    <div class="residente-info">
                                        <span>{{ residente.telefone }}</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for residente in residentes %}
                                {% if residente.apartamento == apartamento %}
                                    <div class="residente-info">
                                        <span>{{ residente.email }}</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for residente in residentes %}
                                {% if residente.apartamento == apartamento %}
                                    <div class="residente-info">
                                        <span>{{ residente.data_inicio }}</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for residente in residentes %}
                                {% if residente.apartamento == apartamento %}
                                    <div class="residente-info">
                                        <span>{{ residente.data_fim }}</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for residente in residentes %}
                                {% if residente.apartamento == apartamento %}
                                    <div class="residente-info">
                                        <span>{{ residente.prorrogacao }}</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        {% if user.is_superuser %}
                        <td>    
                            {% for residente in residentes %}
                                {% if residente.apartamento == apartamento %}
                                    <div class="residente-info">
                                        <span style="margin-left: 55px;">{{ residente.numero_cadastro }}</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for residente in residentes %}
                                {% if residente.apartamento == apartamento %}
                                    <div class="residente-info">
                                        <span style="margin-left: 50px;">R$ {{ residente.valor_aluguel }}</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for residente in residentes %}
                                {% if residente.apartamento == apartamento %}
                                    <div class="residente-info">
                                        <span style="margin-left: 50px;">R$ {{ residente.valor_condominio }}</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for residente in residentes %}
                                {% if residente.apartamento == apartamento %}
                                    <div class="residente-info">
                                        <span>R$ {{ residente.outros }}</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for residente in residentes %}
                                {% if residente.apartamento == apartamento %}
                                    <div class="residente-info">
                                        <span>R$ {{ residente.valor_gas }}</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for residente in residentes %}
                                {% if residente.apartamento == apartamento %}
                                    <div class="residente-info">
                                        <span style="margin-left: 25px;">R$ {{ residente.total_boleto }}</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for residente in residentes %}
                                {% if residente.apartamento == apartamento %}
                                    <div class="residente-info">
                                        <span>{{ residente.data_vencimento }}</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for residente in residentes %}
                                {% if residente.apartamento == apartamento %}
                                    <div class="residente-info">
                                        <span style="margin-left: 50px;">{{ residente.unidade_consumidora }}</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
{% endblock %}
